.color { border: 1px solid black;
  padding: 40px;
  display: inline-block;
  font-size: 2px;
}
.black{
    background-color: black;
    
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
#button-random-color {
    margin-left: 350px;
}

